@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textcontent {
  padding-left: 10px;
  padding-right: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate-spin-slow {

  animation: spin 6s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.navbar-item {
  position: relative;
  display: inline-block;
  padding: 8px 10px;
  border: 3px solid #000000;
  cursor: pointer;
  text-wrap: nowrap;
}

.navbar-item-active {
  background-color: #ffffff;
  border: 3px solid #000000;
  color: black;
}

.navbar-item:hover {
  color: white;
  background: rgb(75 85 99);
}

.navbar-item:hover .dropdown-menu {
  display: block;
  color: white;
}

.navbar-link {
  text-decoration: none;
  padding: 10px 20px;
}

.navbar-link:hover {
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 150px;
  color: black;
  display: none;
}

.dropdown-item {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  border: 5px black;
  color: black;
  margin-bottom: 3px;
}

.dropdown-item:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(75 85 99);
}

.dropdown-item-active {
  border: 3px solid #333333;
  color: black;
}

.dropdown-item-active:hover {
  border: 3px solid rgb(75 85 99);
  color: black;
}

.navmenu-item {
  padding: 8px 12px;
  border-radius: 0.375rem;
  color: black;
  background-color: rgb(157, 157, 157);
}

.navmenu-item-active {
  border: 3px solid #333333;
}

.navmenu-subitem {
  padding: 8px 12px;
  border-radius: 0.375rem;
  color: black;
  background-color: rgb(205, 204, 204);
}

.navmenu-subitem-active {
  border: 3px solid #333333;
}

.navmenu-item:hover, .navmenu-subitem:hover {
  background-color: rgb(75 85 99);
  color: white;
}

.user-area {
  position: absolute;
  top: 85%;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 200px;
  min-width: 150px;
  color: black;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-items: right;
  gap: 4px;
}

.user-area-info {
  font-size: 10px;
  text-align: right;
  padding-bottom: 12px;
}

.user-area-link {
  background-color: #eeeeee;
  text-align: right;
  padding: 2px 8px;
  border-radius: 0.375rem;
  cursor: pointer;
  color: inherit
  /* <NavbarItem className="lg:flex bg-white hover:bg-gray-600 pt-0 pb-0 mb-2 pl-2 pr-2 rounded-md"> */
}

.user-area-link:hover {
  background-color: rgb(75 85 99);
  color: white;
  text-decoration: none;
}

.table-profile td {
  text-align: left;
  padding-left: 8px;
  padding-bottom: 4px;
}

.table-profile tr {
  margin-bottom: 5px;
}

.table-space-game th, .table-space-game td {
  text-align: left;
  padding: 2px 16px;
}

.product-portfolio {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1800px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  color: #333;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  background: #e9e9e9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
  flex: 1 1 auto;
  min-width: 400px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 15px;
}

.product-image {
  width: 100px;
  height: 175px;
  border-radius: 5px;
  flex: 1 1 auto;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex-wrap: nowrap;
}

.product-details-row {
  display: flex;
  flex-wrap: nowrap;
}

.product-details-row strong {
  flex: 0 1 auto;
  vertical-align: bottom;
}

.product-details-row input {
  margin: 0 5px;
  flex: 1 1 auto;
  min-height: 15px;
  max-height: 22px;
  font-size: small;
  padding: 0 2px 0 5px;
}

.product-details-row select {
  margin: 0 5px;
  flex: 1 1 auto;
  min-height: 15px;
  max-height: 22px;
  font-size: small;
  padding: 0 2px 0 5px;
}

.product-item p {
  margin: 5px 0;
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button-standard {
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  vertical-align: bottom;
}

.button-disabled {
  background-color: #808080;
  background-color: #808080;
}

.button-standard:hover {
  background-color: #406992;
}

.button-disabled {
  background-color: #808080;
}

.button-disabled:hover {
  background-color: #808080;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-pagination {
  margin-right: 4px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #97adc2;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-pagination:hover {
  background-color: #e0e0e0;
}

.link-simple {
  color: #0e72ca;
  font-weight: bold;
}

.color-show {
  display: 'inline-block';
  min-width: 30px;
  min-height: 10px;
  margin: 0 5px;
}

.margin-top-20 {
  margin-top: 20px;
  margin-bottom: 0;
}