.product-portfolio {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    color: #333;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background: #e9e9e9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    flex: 1 1 auto;
    min-width: 400px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
}

.product-image {
    width: 100px;
    height: 175px;
    border-radius: 5px;
    flex: 1 1 auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex-wrap: nowrap;
}

.product-details-row {
    display: flex;
    flex-wrap: nowrap;
}

.product-details-row strong {
    flex: 0 1 auto;
    vertical-align: bottom;
}

.product-details-row input {
    margin: 0 5px;
    flex: 1 1 auto;
    min-height: 15px;
    max-height: 22px;
    font-size: small;
    padding: 0 2px 0 5px;
}

.product-details-row select {
    margin: 0 5px;
    flex: 1 1 auto;
    min-height: 15px;
    max-height: 22px;
    font-size: small;
    padding: 0 2px 0 5px;
}

.product-item p {
    margin: 5px 0;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    vertical-align: bottom;
}

button:hover {
    background-color: #0056b3;
}

.button-disabled {
    background-color: #808080;
}

.button-disabled:hover {
    background-color: #808080;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.pagination-active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.link-simple {
    color: #0e72ca;
    font-weight: bold;
}

.color-show {
    display: 'inline-block';
    min-width: 30px;
    min-height: 10px;
    margin: 0 5px;
}

.margin-top-20 {
    margin-top: 20px;
    margin-bottom: 0;
}